$colorText: #999999;
$colorTitle: #333333;
$fontFamilyText: 'Roboto', sans-serif;
$fontFamilyTitle: 'Montserrat', sans-serif;
$maxWidthContainer: 1170;
$minWidth: 320px;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
