.about {
	padding: 5.625rem 0rem 6.5rem 0rem;
	@media (max-width: 500px) {
		padding: 4rem 0rem 2rem 0rem;
	}
	&__wrapper {
		margin: 0rem 0rem 6rem 0rem;
	}
	&__header {
		margin: 0rem auto 6.25rem auto;
		max-width: 960px;
		@media (max-width: 500px) {
			margin: 0rem auto 4rem auto;
		}
	}
	&__row {
		display: flex;
		gap: 1.875rem;
		@media (max-width: 870px) {
			flex-wrap: wrap;
			gap: 1rem;
		}
	}
	&__column {
		flex: 1 1 31.65%;
		position: relative;
		transition: transform .4s ease 0s;
		// overflow: hidden;
		@media (max-width: 870px) {
			flex: 0 1 calc(50% - 0.5rem);
		}
		@media (max-width: 500px) {
			flex: 1 1 100%;
			position: relative;
			padding: 0rem 0rem 66% 0rem;
		}
		@media (min-width: 871px) {
			&:hover {
				transform: translate(-10px, -10px);
			}
		}
		&:hover .hide-about {
			opacity: 1;
			visibility: visible;
		}
	}
	&__img {
		max-width: 100%;
		object-fit: cover;
		@media (max-width: 870px) {
			width: 100%;
		}
		@media (max-width: 500px) {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}
	}
}

.hide-about {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	text-align: center;
	background: rgba(241,217,138,0.8);
	background: linear-gradient(0deg, rgba(241,217,138,0.8) 0%, rgba(243,129,129,0.8) 100%);
	opacity: 0;
	visibility: hidden;
	transition: all .4s ease 0s;
	@media (min-width: 871px) {
		&:before {
			content: ""; 
			position: absolute;
			top: 10px;
			right: -10px;
			height: 100%;
			width: 10px;
			background: #95E1D3;
		}
		&:after {
			content: ""; 
			position: absolute;
			left: 10px;
			bottom: -10px;
			height: 10px;
			width: 100%;
			background: #95E1D3;
		}
	}
	&__item { 
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	&__icon {
		margin: 0rem 0rem 0.7rem 0rem;
		width: 32px;
		height: 23px;
		@media (max-width: 500px) {
			display: inline;
		}
	}
	&__title {
		text-transform: uppercase;
		font-family: $fontFamilyTitle;
		font-weight: 700;
		color: $colorLight;
		font-size: 1.125rem;
		cursor: default;
	}
}

.footer-about {
	background: #95E1D3;
	min-height: 268px;
	@media (max-width: 900px) {
		min-height: 150px;
	}
	@media (max-width: 560px) {

	}
	&__row {
		min-height: 268px;
		display: flex;
		align-items: center;
		text-align: center;
		@media (max-width: 900px) {
			flex-wrap: wrap;
			justify-content: center;
			min-height: 150px;
		}
		@media (max-width: 560px) {
		
		}
	}
	&__column {
		color: $colorLight;
		font-family: $fontFamilyTitle;
		position: relative;
		flex: 1 1 20%;
		min-height: 268px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0rem 0.6rem;
		@media (max-width: 900px) {
			flex: 0 1 33.3333%;
			min-height: 150px;
		}
		@media (max-width: 560px) {
			flex: 1 1 100%;
			&:not(:last-child) {
				border-bottom: 1px solid #B5EAE0;
			}
		}
		&:before {
			content: "";
			position: absolute;
			width: 1px;
			height: 100%;
			right: 0;
			top: 0;
			background: #B5EAE0;
		}
		&:first-child:after {
			content: "";
			position: absolute;
			width: 1px;
			height: 100%;
			left: 0;
			top: 0;
			background: #B5EAE0;
		}
		&:before, &:first-child:after {
			@media (max-width: 900px) {
				display: none;
			}
		}
	}
	&__figure {
		font-weight: 700;
		font-size: 4.5rem;
		margin: 0rem 0rem 1rem 0rem;
		@media (max-width: 900px) {
			font-size: 4rem;
			margin-bottom: 0.8rem;
		}
	}
	&__name {
		font-weight: 400;
		font-size: 0.875rem;
		line-height: 1.2;
		text-transform: uppercase;
	}
}

.title {
	font-family: $fontFamilyItalyc;
	font-weight: 400;
	font-size: 1.5rem;
	margin: 0rem 0rem 0.7rem 0rem;
	color: #333333;
	text-align: center;
}

.subtitle {
	font-family: $fontFamilyTitle;
	font-weight: 700;
	font-size: 1.875rem;
	color: #333333;
	margin: 0rem 0rem 4.75rem 0rem;
	position: relative;
	text-align: center;
	&:before {
		content: "";
		width: 60px;
		height: 3px;
		position: absolute;
		bottom:- 38px;
		left: 50%;
		transform: translateX(-50%);
		background: #F38181;
	}
}

.text {
	color: $colorText;
	font-size: 0.9375em;
	line-height: 1.6;
	margin: 0 auto;
	text-align: center;
}

