.service {
	padding: 6rem 0rem 7.5rem 0rem;
	@media (max-width: 740px) {
		padding: 6rem 0rem 4rem 0rem;
	}
	&__wrapper {
		padding: 0rem 0rem 7.5rem 0rem;
	}
	&__header {
		margin: 0rem 0rem 5.25rem 0rem;
		@media (max-width: 740px) {
			margin: 0rem 0rem 3rem 0rem;
		}
	}
	&__text {
		max-width: 960px;
		text-align: center;
	}
	&__content {
		display: flex;
		column-gap: 1.6rem;
		@media (max-width: 740px) {
			flex-direction: column;
			align-items: center;
		}
	}
	&__img {
		max-width: 570px;
		height: 380px;
		@media (max-width: 740px) {
			margin: 0rem 0rem 2rem 0rem;
		}
		img {
			width: 100%;
			object-fit: cover;
			height: 100%;
		}
	}
	&__column {
		flex: 1 1 50%;
		@media (max-width: 740px) {
			width: 100%;
		}
	}
}

.item-service {
	min-height: 3.85rem;
	cursor: pointer;
	position: relative;
	&:not(:last-child) {
		margin: 0rem 0rem 0.8rem 0rem;
	}
	&__inner {
		min-height: 3.85rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0rem 1rem;
		border: 1px solid #E5E5E5;
	}
	&__left {
		display: flex;
		align-items: center;
	}
	&__icon {
		margin: 0rem 0.875rem 0rem 0rem;
		width: 30px;
		height: 30px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__name {
		text-transform: uppercase;
		font-family: $fontFamilyTitle;
		font-size: 0.875rem;
		color: $colorTitle;
		font-weight: 700;
	}
	&__arrow {
		width: 22px;
		height: 12px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&._active {
			transform: rotate(180deg);
		}
	}
	&__hide {
		font-style: italic;
		border: 1px solid #E5E5E5;
		padding: 1rem 1.2rem;
		width: 100%;
		height: 181px;
		overflow-y: scroll;
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
		transition: clip-path .4s ease 0s;
		text-align: left;
		display: none;
		&._active {
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
			transition: clip-path .4s ease 0s;	
			display: block;
		}
	}
	&__text {
		width: 100%;
		text-align: left;
	}
	
}


.slider-service {
	min-height: 290px;
	background: #F8F8F8;
	&__container {
		position: relative;
	}
	&__btn-prev, &__btn-next {
		position: absolute;
		top: 50%;
		z-index: 20;
		cursor: pointer;
		@media (max-width: 1100px) {
			top: 93%;
		}
	}
	&__btn-prev {
		left: 2%;
		transform: rotate(90deg) translateX(-50%);
		@media (max-width: 1100px) {
			left: 46%;
		}
	}
	&__btn-next {
		right: 2%;
		transform: rotate(-90deg) translateX(50%);
		@media (max-width: 1100px) {
			right: 46%;
		}
	}
	&__wrapper {
		max-width: 990px;
		min-height: 290px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		column-gap: 3.75rem;
	}
	&__img {
		min-width: 150px;
		height: 150px;
		border: 3px solid #95E1D3;
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			width: 63px;
			height: 61px;
		}
	}
	&__text {
		font-size: 1.5rem;
		line-height: 1.5;
		font-style: italic;
		color: $colorText;
		margin: 0rem 0rem 1.2rem 0rem;
	}
	&__name {
		font-family: $fontFamilyItalyc;
		font-size: 1.5rem;
		color: #333333;
		padding: 0rem 0rem 0rem 4.25rem;
		position: relative;
		&:before {
			content: "";
			width: 3.75rem;
			height: 3px;
			background: #F38181;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}