.work {
	&__header {
		margin: 0rem 0rem 5.75rem 0rem;
		@media (max-width: 700px) {
			margin: 0rem 0rem 4rem 0rem;
		}
	}
	&__text {
		max-width: 960px;
		text-align: center;
	}
	&__img {
		max-width: 100%;
		object-fit: cover;
		height: auto;
		@media (min-width: 501px) {
			&[alt="work min 5"] {
				display: none;
			}
		}
		@media (max-width: 500px) {
			&[alt="work 5"] {
				height: 50%;
				width: 100%;
				display: none;
			}
		}
	}
	&__rows {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, auto);
		grid-auto-rows: auto;
		@media (max-width: 1000px) {
			grid-template-columns: repeat(3, 1fr);
		}
		@media (max-width: 700px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: 500px) {
			grid-template-columns: 1fr;
		}
	}
	&__column {
		position: relative;
		&:nth-child(3) {
			grid-row: 1 / 3;
			grid-column: 3 / 4;
			overflow: hidden;
			@media (max-width: 700px) {
				grid-column: 2 / 3;
			}
			@media (max-width: 500px) {
				grid-row: 1;
				grid-column: 1;
			}
		}
		.hide-work {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background: rgba(241, 217, 138, 0.8);
			background: linear-gradient(0deg, rgba(241, 217, 138, 0.8) 0%, rgba(243, 129, 129, 0.8) 100%);
			color: $colorLight;
			opacity: 0;
			visibility: hidden;
			transition: all 0.4s ease 0s;
			&__icon {
				margin: 0rem 0rem 1rem 0rem;
			}
			&__title {
				font-family: $fontFamilyTitle;
				text-transform: uppercase;
				font-weight: 700;
				font-size: 0.875rem;
				margin: 0rem 0rem 0.8rem 0rem;
				cursor: default;
			}
			&__text {
				font-weight: 300;
				font-style: italic;
				font-size: 0.9375rem;
				cursor: default;
			}
		}
		&:hover .hide-work {
			opacity: 1;
			visibility: visible;
		}
	}

	.review-work {
		padding: 2rem 0rem;
		@media (max-width: 700px) {
			padding: 4rem 0rem;
		}
		&__img {
			width: 180px;
			height: 180px;
			border: none;
			img {
				width: 150%;
				height: 100%;
				object-fit: cover;
			}
			@media (max-width: 830px) {
				width: 150px;
				height: 150px;
				img {
					width: 150%;
					height: 100%;
				}
			}
			@media (max-width: 480px) {
				width: 110px;
				height: 120px;
			}
		}
	}
}
