@import "reset";
@import "fonts";
@import "base/var";
@import "base/ibg";

html {
	scroll-behavior: smooth;
	scroll-padding-top: 6rem;
	font-size: 0.9375rem;
}

body {
	font-family: $fontFamilyText;
}

.wrapper {
	overflow: hidden;
	height: 100%;
}

.page {
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.content {
	flex: 1 1 auto;
}

.container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0px 15px;
}

@import "blocks/header";
@import "blocks/promo";

@import "blocks/footer";
